<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <h3 class="text-center">Datos del Cuestionario</h3>
        <br> 
        <form [formGroup]="datosCuestionario" (ngSubmit)="pasoUno()">
            <div class="form-group mb-3">
                <input type="text" class="form-control" placeholder="Ingrese titulo del cuestionario" formControlName="titulo">
                <div class="text-danger" *ngIf="tituloNoValido">
                    El titulo <strong>es requerido</strong>
                </div>
            </div>
            <div class="form-group mb-3">
                <textarea rows="3" class="form-control" placeholder="Descripcion del cuestionario" formControlName="descripcion"></textarea>
                <div class="text-danger" *ngIf="descripcionNoValida">
                    La descripcion <strong>es requerida</strong>
                </div>
            </div>
            <button [disabled]="datosCuestionario.invalid" class="btn btn-success float-rigtt">Siguiente</button>
        </form>
    </div>
</div>