<div class="container">
    <div class="row" style="width:100%">
        <div class="card text-center" style="padding: 20px;">
            <h3>
                Registrarse
            </h3>
            <br>
            <form [formGroup]="register" (ngSubmit)="registrarUsuario()">
                <div class="form-group mb-3" style="text-align: start;">
                    <input type="text" class="form-control" placeholder="Usuario" formControlName="usuario">
                    <span class="text-danger" *ngIf="usuarioNoValido">
                        El usuario <strong>es requerido</strong>
                    </span>
                </div>
                <div class="form-group mb-3" style="text-align: start;">
                    <input type="password" class="form-control" placeholder="Contraseña" formControlName="password">
                    <span class="text-danger me-2" *ngIf="passNoValido">
                        La contrasena debe tener como <strong>minimo 4 caracteres</strong>
                    </span>
                </div>
                <div class="form-group mb-3">
                    <input type="password" class="form-control" placeholder="Repetir Contraseña" formControlName="confirmPassword">
                    <span class="text-danger me-2" *ngIf="register.hasError('notSame')">
                        Las contrasenas no deben ser <strong> distintas </strong>
                    </span>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary me-2" type="submit">Aceptar</button>
                    <button class="btn btn-secondary me-2" routerLink="/inicio/login">Volver</button>
                </div>
            </form>
        </div>
    </div>
</div>
